
@import "tailwindcss";
:root {
  --color-background: #021324;
  --color-text: #FFFFFF;
  --color-special: #FFDA66;
  --color-gold: #EBBA7F;
  --color-btn-text: #000000;
  --font-family-sans: "Poppins", sans-serif;
  --btn-radius: 10px;
}
@theme {
  --color-background: #021324;
  --color-text: #FFFFFF;
  --color-special: #FFDA66;
  --color-gold: #EBBA7F;
  --color-card: #000B18;
  --color-card-border: #FFD550;
  --color-form-bg: #FFFFFF;
  --color-form-text: #000000;
  --color-form-label: #808080;
  --color-btn-bg: #EBBA7F;
  --color-btn-text: #000000;
  --color-submit-bg: #FFDA66;
  --color-submit-text: #000000;
  --font-family-sans: "Poppins";
  --btn-radius: 10px;
  --card-radius: 20px;
  --form-radius: 30px;
  --card-border-width: 3px;
}

.video-container {
  width: 100%;
}
video {
  width: 100%;
}
.spacy{
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}
.history-page p {
  margin-bottom: 2rem;
}
::selection {
  background-color: #EBBA7F;
  color: #021324;
}

/* Firefox needs its own prefix */
::-moz-selection {
  background-color: #EBBA7F;
  color: #021324;
}
@layer base {
  body {
    @apply bg-background text-text font-sans;
  }
}

@layer utilities {
  .rounded-btn {
    border-radius: var(--btn-radius);
  }
  .rounded-card {
    border-radius: var(--card-radius);
  }
  .rounded-form {
    border-radius: var(--form-radius);
  }
  .border-card {
    border-width: var(--card-border-width);
  }
}


.timeline-item-grid {
  display: grid;
  align-items: start;
  margin-bottom: 6rem; /* lg:mb-12 */
  grid-template-columns:
    1fr    /* left gutter */
    2fr    /* date */
    1fr    /* line */
    5fr    /* content */
    2fr;   /* right gutter */
}

/* Tablet only: collapse gutters */
@media (min-width: 768px) and (max-width: 1023px) {
  .timeline-item-grid {
    grid-template-columns:
      0fr
      2fr
      1fr
      5fr
      0fr;
    margin-bottom: 2rem; /* md:mb-8 */
  }
}

/* Mobile: hide all-grid layout (we use flex in JSX instead) */
@media (max-width: 767px) {
  .timeline-item-grid {
    display: none;
  }
}




@import 'nprogress/nprogress.css';

/* Gold progress bar */
#nprogress .bar {
  background: gold !important;
}

/* Make the “peg” glow gold, too */
#nprogress .peg {
  box-shadow: 0 0 10px gold, 0 0 5px gold !important;
}

/* And if you’ve enabled the spinner */
#nprogress .spinner-icon {
  border-top-color: gold !important;
  border-left-color: gold !important;
}
